/* Get it to fill the height */

body {
    height: 100vh;
}

#root {
    height: 100%;
}

/* UI parts */

#ordering-panel {
    width: 240px;
    text-align: center;

    background: yellow;
}

#song-graph {
    flex-grow: 1;
    position: relative;
}

#spotify-playing {
    padding: 18px;
    font-size: 24pt;

    background: gray;
    color: white;
}

/* Song node */
